﻿<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Micro Focals Mythical Opticians Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
    <div id="main">
        <div>
            <!-- Header -->
            <header id="header">
                <h1>Micro Focals</h1>
				<h2>A simple website based on a mythical opticians</h2>
                <p>
                    Simple demonstration web page which invokes a COBOL routine packaged as an IMTK REST web service 
					hosted within Micro Focus Enterprise Server instances running in a Kubernetes cluster. The routine
					searches COBOL data files to find the optician store closest to your the geographic specified location.
                </p>
            </header>
        </div>
        <div>
            <form id="signup-form" method="post" action="#">
				<button id = "find-me">Get my location</button><br/>
                <input type="text" name="Latitude" id="latitude" placeholder="Latitude" />
                <input type="text" name="Longitude" id="longitude" placeholder="Longitude" />
				<select id="country">
					<option value="  " selected>Anywhere</option>
				    <option value="au">Australia</option>
					<option value="dk">Denmark</option>
					<option value="fr">France</option>
					<option value="de">Germany</option>
					<option value="gb">Great Britain</option>
					<option value="in">India</option>
					<option value="it">Italy</option>
					<option value="mx">Mexico</option>
					<option value="nl">Netherlands</option>
					<option value="nz">New Zealand</option>
					<option value="pt">Portugal</option>
 				    <option value="es">Spain</option>
					<option value="us">USA</option>
				</select>
                <input type="submit" value="Find Closest Store" />
            </form>
			<p id = "status"></p>
        </div>
        <div>
            <div ng-app="myApp" ng-hide="hidestoredetails">
                <div ng-controller="myCtrl as bio">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <div class="well">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p class="panel-title">Closest store is: {{.Store}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="footer">
                <ul class="icons">
                    <li><a href="https://twitter.com/microfocus" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/MicroFocusCorp" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.linkedin.com/company/micro-focus" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
          <!--          <li><a href="mailto:Guy.Sofer@MicroFocus.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li> -->
                </ul>
                <ul class="copyright">
                    <li>&copy; 2020 Micro Focus.</li>
                    <li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </div>
    </div>    
    <!-- Footer -->
   

    <!-- Scripts -->
	<script>
	function geoFindMe() {

		const status = document.querySelector('#status');
		const latitudeText = document.querySelector('#latitude');
		const longitudeText = document.querySelector('#longitude');


		function success(position) {
			status.textContent = 'Found location';
			latitudeText.value = position.coords.latitude;
			longitudeText.value = position.coords.longitude;
		}

		function error() {
			status.textContent = 'Unable to retrieve your location';
		}

		if (!navigator.geolocation) {
			status.textContent = 'Geolocation is not supported by your browser';
		} else {
			status.textContent = 'Locating…';
			navigator.geolocation.getCurrentPosition(success, error);
		}
	}

	document.querySelector('#find-me').addEventListener('click', geoFindMe);

	</script>
    <script src="assets/js/main.js"></script>
</body>
</html>