﻿<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Micro Focus Mythical Bank Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
    <div id="main">
        <div>
            <!-- Header -->
            <header id="header">
                <h1>Micro Focus' Demonstration Bank</h1>
				<h2>A simple website based on a mythical bank</h2>
                <p>
                    Simple demonstration web page which invokes a COBOL loan calculation routine packaged
					as an IMTK REST web service hosted within Micro Focus Enterprise Server instances running
					in a Kubernetes cluster.
                </p>
            </header>
        </div>
        <div>
            <form id="signup-form" method="post" action="#">
                <input type="text" name="amount" id="amount" placeholder="Load Amount" />
                <input type="text" name="term" id="term" placeholder="Loan Term (months)" />
                <input type="text" name="percent" id="percent" placeholder="Annual Interest Rate (percentage)" />
                <input type="submit" value="Calculate" />
            </form>
        </div>
        <div>
            <div ng-app="myApp" ng-hide="hidestoredetails">
                <div ng-controller="myCtrl as bio">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <div class="well">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p class="panel-title">Monthly payment: {{.Monthly}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="footer">
                <ul class="icons">
                    <li><a href="https://twitter.com/microfocus" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/MicroFocusCorp" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.linkedin.com/company/micro-focus" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
          <!--          <li><a href="mailto:Guy.Sofer@MicroFocus.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li> -->
                </ul>
                <ul class="copyright">
                    <li>&copy; 2020 Micro Focus.</li>
                    <li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </div>
    </div>    
    <!-- Footer -->
   

    <!-- Scripts -->
    <script src="page/assets/js/main.js"></script>

</body>
</html>